<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Open menu" (click)="goForm()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="toolbar-title">Welcome :)</span>
  <span class="spacer"></span>

  <button mat-icon-button aria-label="Go to home" (click)="goHome()">
    <mat-icon>home</mat-icon>
  </button>

    <button mat-icon-button aria-label="Go to cart" (click)="goToCart()">
    <mat-icon>shopping_cart</mat-icon>
  </button>

 
  <button mat-icon-button aria-label="Toggle search" (click)="toggleSearch()">
    <mat-icon>search</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">Filter</button>
<mat-menu #menu="matMenu">
  <button mat-button  (click)="sortProducts('low-to-high')">Low to High</button>
  <button mat-button (click)="sortProducts('high-to-low')">High to Low</button>
</mat-menu>

</mat-toolbar>
<router-outlet></router-outlet>


<div *ngIf="showSearch" style="padding: 10px;">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Search products</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="filterProducts()" placeholder="Search by title..." />
  </mat-form-field>
</div>

<app-product-list
  [products]="filteredProducts">
</app-product-list>

<app-product-form (formSubmit)="submitForm()"></app-product-form>